akka {  
    log-config-on-start = on
    stdout-loglevel = DEBUG
    loglevel = DEBUG
    actor {
      debug {
        # 打开调试日志记录
         receive = on
         autoreceive = on
         lifecycle = on
        }
   }
 }